[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
matplotlib = "*"
cython = "*"
flask = "*"
flask-restful = "*"
flask-cors = "*"
appdirs = "*"
attrs = "*"
certifi = "*"
chardet = "*"
click = "*"
cycler = "*"
decorator = "*"
docopt = "*"
idna = "*"
kiwisolver = "*"
mpmath = "*"
networkx = "*"
peewee = "*"
pyparsing = "*"
python-dateutil = "*"
requests = "*"
six = "*"
sympy = "*"

[requires]
python_version = "3.8"
